.Product{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    background-color: #fff;
    border-radius: 5px;
    height: auto;
}
.titleProduct{
    margin-top: 10px;
    font-size: 25px;
    color: #2f2853;
}
.imgProduct{
    width: 85%;
    margin: auto;
}
.priceProduct{
    font-size: 20px;
    color: #2f2853;
}
.buttonProduct{
    padding: 5px 10px;
    background-color: #3f3375;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 10px;
}