.countContainer{
    display: flex;
    width: 60%;
    flex-direction: column;
    gap: 10px;
}
.countButtons{
    display: flex;
    justify-content: space-around;
    border: 1px solid #35286b;
    border-radius: 5px;
    background-color: #fff;
}
.countButton{
    height: 80%;
    border: none;
    background-color: #fff;
    cursor: pointer;
    padding: 2px 6px;
    margin-top: 4px;
}
.countCounter{
    margin-top: 2px;
}
.buttonAgregar{
    width: 80%;
    margin: auto;
    color: #fff;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    padding: 5px 20px;
    cursor: pointer;
    background-color: #3a2c74;
}